:host{
    margin: 0;
    padding: 0;

}

.fa{
    font-size: 40px;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.toolbar{
    height: 50px;
    background-color:#044d66;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #107a9e;
    padding: 10px;
}

.name{
    color: white;
    font-size: 30px;
    padding: 0 30px;
}

.sidebar{
    width: 200px;
    height: calc(100vh - 50px);
    background-color: #044d66;
}