
<html>
  <head>
    <title>Karyasiddhi</title>
    <meta name="description" content="task management app">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scal=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="toolbar">
      <div class="fa fa-bars" (click)="onToggle()"></div>
      <span class="name">Karyasiddhi</span>
    </div>
    <div class="sidebar" *ngIf="isOpen">
    </div>
    <app-task-list></app-task-list>
    <app-header (newItemEvent)="toggle()"></app-header>
    <app-nav-bar [isopen]="istemp"></app-nav-bar>
  </body>
</html>

